<h1>User</h1>
<form (ngSubmit)="onSave()" #userForm="ngForm">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName"
           type="text"
           [(ngModel)]="user.firstName"
           #firstName="ngModel"
           name="firstName"
           class="form-control"
           placeholder="Joe"
           required />
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        First Name is required
      </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input id="lastName"
           type="text"
           [(ngModel)]="user.lastName"
           #lastName="ngModel"
           name="lastName"
           class="form-control"
           placeholder="Bloggs"
           required />
     <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
       Last Name is required
     </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Save</button>
</form>
